*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC', sans-serif;
}


.header{
    height:50px;
    border:1px solid #999;
    box-shadow: 0 0 5px #ccc;
}

.header ul{
    list-style-type: none; 
}
.header ul li{
    display: inline-block;
    padding:5px;
    margin:10px;
    border:1px solid #ccc;
    border-radius:3px;
}
.header ul li a{
    text-decoration:none; 
}

.nav{
    list-style-type: none; 
    text-align:center;
    font-size: 12px;   
}
.nav li{
    display: inline-block;
    padding:5px;
    margin:auto;
    border:1px solid #ccc;
    border-radius:3px;
    width:120px;

}

.nav li a{
    text-decoration:none;
}

.upnav{
    background-color: #7952b3;
}

.invoice-table{
    border-collapse: collapse;
    border: 2px solid #999;
    text-align: center;
}

.invoice-table td{
    border: 2px solid #999;
    padding:5px;    
}

/* 沒效果 有點奇怪 */
/* .btn{
    border:1px solid rgb(171, 240, 255);
    border-radius: 5px;

    background: linear-gradient(90deg, rgba(182,129,235,1) 0%, rgba(162,255,247,1) 0%, rgba(0,255,248,1) 100%);

} */

/* .box{
    box-shadow:2px 2px 5px #999;
} */

.table tr{
    background-color: #fff;
}

/* .nav{
    background-color: blue;
} */

.container{
    border-radius: 10px;

}

.addsant{
    margin:auto;

}

.btn{
    border:1px solid #eee;
    background: rgb(121, 188, 219);
}

.font{
    font-size: 25px;
}

.fonta{
    font-size:12px;
}

.table-dark{
    border:2px solid #eee;
}
.table-dark.tr{
    border:2px solid #eee;
}

.table{
    text-align: center;

}

.a{
    color:white;
}