*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    height:50px;
    border:1px solid #999;
    box-shadow: 0 0 5px #ccc;
}

.header ul{
    list-style-type: none;
}
.header ul li{
    display: inline-block;
    padding:5px;
    margin:0 10px;
    border:1px solid #ccc;
    border-radius:3px;
}
.header ul li a{
    text-decoration:none; 
}

.nav{
    list-style-type: none;
}
.nav li{
    display: inline-block;
    padding:5px;
    margin:0 10px;
    border:1px solid #ccc;
    border-radius:3px;
}

.nav li a{
    text-decoration:none;
}

.invoice-table{
    border-collapse: collapse;
    border: 1px solid #999;
}
.invoice-table td{
    border: 1px solid #999;
    padding:5px;
}

/* 沒效果 有點奇怪 */
/* .btn{
    border:1px solid rgb(171, 240, 255);
    border-radius: 5px;

    background: linear-gradient(90deg, rgba(182,129,235,1) 0%, rgba(162,255,247,1) 0%, rgba(0,255,248,1) 100%);

} */

/* .box{
    box-shadow:2px 2px 5px #999;
} */