*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans TC','Balsamiq Sans','微軟正黑體', cursive, sans-serif;
}


.header{
    height:50px;
    border:1px solid #999;
    box-shadow: 0 0 5px #ccc;
}

.header ul{
    list-style-type: none; 
}
.header ul li{
    display: inline-block;
    padding:5px;
    margin:10px;
    border:1px solid #ccc;
    border-radius:3px;
}
.header ul li a{
    text-decoration:none; 

}

.nav{
    list-style-type: none; 
    text-align:center;
    font-size: 14px;   
    color:yellow;
}


.nav li{
    display: inline-block;
    padding:8px;
    margin:auto;
    border:1px solid rgb(100, 100, 100);
    background: #C9CCD3;
    background-color: #E4E4E1;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
    border-radius:3px;
    width:120px;
    box-shadow:1px 1px 3px rgb(73, 73, 73);

}

.nav li a{
    text-decoration:none;
    color:rgb(255, 248, 151);
    
}

.nav li a:focus{
    background-color: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%)!important;
    color:#ff98d4;
    box-shadow: aliceblue;
}


.nav-h{
    display: inline-block;
    width: 100%;

}


.invoice-table{
    border-collapse: collapse;
    text-align: center;
    box-shadow: 1px 1px gray;
    /* background-color: aqua; */
}

.invoice-table td{
    border: 2px solid #999;
    padding:5px;    
}



.table tr{
    background-color: #fff;
}

/* .nav{
    background-color: blue;
} */

.container{
    /* background-image: linear-gradient(90deg, #a1c4fd 0%, #c2e9fb 100%); */
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
    background-blend-mode: multiply,multiply;
    box-shadow:3px 3px 10px #d3d3d3;
    border-radius: 30px;
    border:3px solid #7a7a7a;
}


.addsant{
    margin:auto;

}

.btn{
    border:1px solid #eee;
    background: rgb(121, 188, 219);
}

.font{
    font-size: 25px;
    color:rgb(71, 151, 255);

}

.fonta{
    font-size:16px;
    color:gray;
}

.fontb{
    font-size:25px;
    color:red;
}

.wa{
    width:100px;
    color:rgb(218, 253, 255);
    background: rgb(5, 217, 255);
    border-radius: 5px;
}

.table-dark{
    border:2px solid #eee;
}
.table-dark.tr{
    border:2px solid #eee;
}

.table{
    text-align: center;

    
}

.tt{
    border-radius: 3px;
    height:30px;
    overflow-y:auto;
    text-align: center;

}

.hov:hover {
    color: #ff4bb4;

}


.a{
    color:white;
}

.h3{
    text-shadow:1px 1px 3px rgb(81, 118, 218);
}

.nbtn{
    background-color: rgb(2, 110, 250);
}

a {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
}

td p{
    font-size:16px;
    color:gray;    

}

